/* body {
    margin: 0;
    background-color: whitesmoke;
} */
/* Html font */
html {
  font-family: "Montserrat", sans-serif;
}

/* body style  */
/* Fix Right Side Space where not get full side of screen */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* navbar not overwrite */
.navContent {
  z-index: 999;
}

.heading {
  text-align: center;
  /* background-color: #00243C; */
  margin: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}
@media (max-width: 1200px) {
  .heading-mobile {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 0.65rem;
  }
}

.logo {
  background-color: #00243c;
  /* display: block; */
  margin: auto;
  padding-bottom: 1rem;
}

.logo-img {
  padding-top: 1rem;
  width: 100px;
  height: 100px;
  padding-bottom: 1rem;
}

@media (max-width: 1200px) {
  .logo-img-mobile {
    width: 50px;
    height: 50px;
  }
}
/* Change Font-size on H5 and H6 for Header.jsx */
.sizeHeaderh5 {
  font-size: 1rem;
}
@media (max-width: 1200px) {
  .sizeHeaderh5m {
    font-size: 0.7rem;
  }
}

.sizeHeaderh6 {
  font-size: 0.9rem;
}
@media (max-width: 1200px) {
  .sizeHeaderh6m {
    font-size: 0.65rem;
  }
}

/* Footer style */
footer {
  position: relative;
  background-color: #00243c;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  grid-row: 2;
  /* background: white; */
}

footer div {
  text-align: center;
  color: white;
  padding: 10px;
}

/* no underline */
.no-underline {
  text-decoration: none;
  color: black;
}

/* Time and Date style */
.clock {
  margin: auto;
  text-align: center;
  color: white;
  background-color: #00243c;
}

/* Button Login-Register Change Size and Position */
.loginRegister {
  width: 50%;
  margin-right: 15px;
  margin-left: 15px;
}

@media (max-width: 1200px) {
  .spaceFromTop-mobile {
    margin-top: 10px;
  }
}

/* Social Media */

.socialIcons {
  margin-top: 15px;
  padding: 10px;
  justify-content: center;
}

/* BLOG CONTENT CSS */
.lastNews {
  text-align: center;
  margin-top: 20px;
}

.postContent {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  font-size: 1rem;
}
@media (max-width: 1200px) {
  .postContent-mobile {
    width: 80%;
    font-size: 1rem;
    text-align: justify;
    margin: auto;
    padding-bottom: 20px;
  }
}

/* Change mouse to pointer */
.pointer {
  cursor: pointer;
}

/* Search Bar */
.search {
  display: block;
  width: 50%;
  justify-content: center;
  margin: auto;
}

@media (max-width: 1200px) {
  .search-mobile {
    display: block;
    width: 100%;
    justify-content: center;
    margin: auto;
  }
}

.search-position {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Dsymb2023 */
.pageMargin {
  text-align: center;
  margin-top: 50px;
}

.dsymb2023a {
  text-align: center;
  margin-top: 20px;
}

.dsymb2023t {
  margin: 50px auto 50px;
  /* width: 400px;
    height: 300px; */
}

@media (max-width: 1200px) {
  .dsymb2023t-mobile {
    font-size: 1rem;
  }
}

.dsymb2023link {
  text-align: center;
  margin: 0px auto 50px 0;
  /* font-size: 1.3rem; */
}

.links {
  text-decoration: none;
  color: #0d6efd;
}
.RedirectLinks {
  color: #0d6efd;
}

.RedirectLinks:hover {
  text-decoration: underline;
}

.RemoveUnderLineLink {
  text-decoration: none;
}

.aitisi {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 1.3rem;
}
.addSpaceFooter {
  margin-bottom: 300px;
  padding-bottom: 300px;
}

.addSpace {
  padding-bottom: 200px;
}

.addSmallSpace {
  padding-bottom: 50px;
}

@media (max-width: 1200px) {
  .pageSizeMobile {
    width: 98%;
    text-align: center;
  }
}

.pageViewWithPhoto {
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .mobileViewWithPhoto {
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1rem;
  }
}

.ItalicStyle {
  font-style: italic;
}

.painImg {
  margin-left: 40px;
}

@media only screen and (max-width: 767px) {
  .painImgMobile {
    margin-left: 0;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}
/* PublicationsEEA */

@media (max-width: 1200px) {
  .tableResizeMobile {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .Pub-Rec-Mobile {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
  }
}

.FooterInfo {
  background-color: #00243c;
  color: white;
  font-size: 0.75rem;
  text-align: center;
  margin: auto;
}

/* GreekConferencesAndEvents */

.GreekCon {
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}
@media (max-width: 1200px) {
  .GreekConMobile {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.GreekConCenter {
  text-align: center;
}

@media (max-width: 1200px) {
  .imgMobile {
    width: 90%;
    margin: auto;
  }
}

.imgFooter {
  width: 50%;
  margin: auto;
}

.InternationalCon {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.redAlert {
  color: red;
}
